<div id="<%= dom_id bovino %>">
  <p>
    <strong>Brinco:</strong>
    <%= bovino.brinco %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= bovino.nome %>
  </p>

  <p>
    <strong>Situacao:</strong>
    <%= bovino.situacao %>
  </p>

  <p>
    <strong>Sexo:</strong>
    <%= bovino.sexo %>
  </p>

  <p>
    <strong>Brinco mae:</strong>
    <%= bovino.brinco_mae %>
  </p>

  <p>
    <strong>Brinco pai:</strong>
    <%= bovino.brinco_pai %>
  </p>

  <p>
    <strong>Raca:</strong>
    <%= bovino.raca %>
  </p>

  <p>
    <strong>Data nascimento:</strong>
    <%= bovino.data_nascimento %>
  </p>

  <p>
    <strong>Data prenhes:</strong>
    <%= bovino.data_prenhes %>
  </p>

  <p>
    <strong>Data ultimo parto:</strong>
    <%= bovino.data_ultimo_parto %>
  </p>

</div>
