<%= form_with(model: bovino, local: true, html: { class: "form-horizontal" }) do |form| %>
  <% if bovino.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% bovino.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container mt-4 gap-3 d-flex flex-column" style="width: 70vw">
    <div class="form-group row">
      <%= form.label :brinco, class: "col-2 col-form-label" %>
      <div class="col-10">
        <%= form.text_field :brinco, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <%= form.label :nome, class: "col-2 col-form-label" %>
      <div class="col-10">
        <%= form.text_field :nome, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <%= form.label "Situação", class: "col-2 col-form-label" %>
      <div class="col-10">
        <%= form.select :situacao, ["Em Lactação", "Seca", "Vendido", "Morto"], {}, class: "form-control" %>
      </div>
    </div>
    
    <fieldset class="form-group row">
      <legend class="col-form-label col-2 pt-0">Sexo</legend>
      <div class="col-10">
        <div class="form-check form-check-inline">
          <%= form.radio_button :sexo, 'Macho', id: 'macho', class: "form-check-input" %>
          <%= form.label :sexo, 'Macho', for: 'macho', class: "form-check-label" %>
        </div>
        <div class="form-check form-check-inline">
          <%= form.radio_button :sexo, 'Fêmea', id: 'femea', class: "form-check-input" %>
          <%= form.label :sexo, 'Fêmea', for: 'femea', class: "form-check-label" %>
        </div>
      </div>
    </fieldset>

    <div class="form-group row">
      <%= form.label "Brinco da Mãe", class: "col-2 col-form-label" %>
      <div class="col-10">
        <%= form.text_field :brinco_mae, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <%= form.label "Brinco do Pai", class: "col-2 col-form-label" %>
      <div class="col-10">
        <%= form.text_field :brinco_pai, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <%= form.label "Raça", class: "col-2 col-form-label" %>
      <div class="col-10">
        <%= form.select :raca, ["Girolando", "Holandês", "Gir", "Jersey"], {}, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <%= form.label "Data do Nascimento", class: "col-2 col-form-label" %>
      <div class="col-10">
        <%= form.date_field :data_nascimento, class: "form-control" %>
      </div>
    </div>
    
    <div id="extra-fields" class="mt-4 gap-3 flex-column" style="display: none;">
      <div class="form-group row">
        <%= form.label :data_prenhes, "Data Prenhês", class: "col-2 col-form-label" %>
        <div class="col-10">
          <%= form.date_field :data_prenhes, class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= form.label :data_ultimo_parto, "Data do Ultimo Parto", class: "col-2 col-form-label" %>
        <div class="col-10">
          <%= form.date_field :data_ultimo_parto, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-10 offset-2">
        <%= form.submit class: 'btn btn-success' %>
        <%= link_to "Voltar", bovinos_path, class: "btn btn-primary"%>
      </div>
    </div>

  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var machoRadio = document.getElementById('macho');
      var femeaRadio = document.getElementById('femea');
      var extraFields = document.getElementById('extra-fields');

      function toggleExtraFields() {
        if (femeaRadio.checked) {
          extraFields.style.display = 'flex';
        } else {
          extraFields.style.display = 'none';
        }
      }

      machoRadio.addEventListener('change', toggleExtraFields);
      femeaRadio.addEventListener('change', toggleExtraFields);

      toggleExtraFields();
    });
  </script>
<% end %>
